{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
<style type="text/css">
    .list-group li { background: #404040; border: 1px solid #303030; }
    .list-group li.active { background: #606060; border: 1px solid #303030; }
    .list-group li.list-group-item:hover {
        background: #a0a0a0; border: 1px solid #303030;
        color: #fff; text-decoration:underline;
    }
    .list-group li a { color: #a0a0a0; }
    .list-group li.list-group-item:hover a { text-decoration:underline; color:#fff; }

    .project h1 { margin-bottom:20px; }

    .task-item { overflow:auto; }
    .task-item strong { color:#f0f0f0; font-size: 20px; font-weight:normal; }
    .task-item .task-title > small { display: none; }
    .task-item .task-title:hover > small { display: inline; }

    .task-item p { margin-left: 23px; }
    .task-item small.info { margin-left: 23px; display:block; }

    .task-number {
        color: orange; font-size:50px; font-weight:bold;
        float:left; clear:both; margin:-8px 10px 0 0;
        text-shadow: 1px 1px 3px #000;
    }

    .task.title {

    }

    .task-item { margin-top: 25px; }
</style>
{% endblock %}
{% block full_content %}{% verbatim %}
<div ng-controller="planController">
<div class="row" style="margin-top:20px;">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item"
                ng-repeat="proj in projects"
                ng-class="{active:proj.active}"
                ng-click="activate_project(proj.id);"><a href="">{{ proj.title }}</a></li>
        </ul>

        <a href="" style="display:block;width:100%;text-align:center;">Create a new plan</a>
    </div>
    <div class="col-md-6 project">
        <h1>{{ active_project.title }}</h1>
        <ol class="list-unstyled">
            <li ng-repeat="item in active_project.tasks" class="task-item">
                <div class="task-number">{{ $index+1 }}</div>

                <div class="task-title">
                    <a href="" data-toggle="modal"
                        data-target="#editTask"
                        ng-click="activate_task(item);"><strong class="">{{ item.title }}</strong></a>
                </div>

                <small class="info">type: idea | status: implemented</small>
                <p>{{ item.text }}</p></li>
        </ol>

    </div>
    <div class="col-md-3">
        <h5>People associated in this plan</h5>

        <button class="btn btn-primary" data-toggle="modal"
            data-target="#modalNew">Create</button>
    </div>
</div>

<div class="modal" id="editTask" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    arial-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">{{ active_task.title }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="taskTitle">Task title</label>
                    <input type="text" class="form-control" id="taskTitle"
                        placeholder="Task title" value="{{ active_task.title }}">
                </div>
                <div class="form-group">
                    <label for="taskStatus">Task status</label>
                    <div class="btn-group">
                        <button class="btn btn-default">blaa</button>
                        <button class="btn btn-active">blaa</button>
                        <button class="btn btn-primary">blaa</button>
                        <button class="btn">blaa</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="taskType">Task type</label>
                    <input type="text" class="form-control" id="taskType"
                        placeholder="Task title" value="{{ active_task.type }}">
                </div>
                <div class="form-group">
                    <label for="taskBody">Task text</label>
                    <textarea class="form-control" id="taskBody"
                        placeholder="Task description here"
                        value="{{ active_task.body }}"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
{% endverbatim %}{% endblock full_content %}
{% block script %}
<script type="text/javascript" async="async">

siteApp.controller('planController', function($scope, APIService, $http) {
    $scope.plans = function() {
        return $http({method:'get', url:'api/plans/'});
    };

    $scope.plan = function(id) {
        return $http({method:'get', url:'api/plan/' + escape(id) + '/'});
    };

    $scope.active_project = null;
    $scope.activate_project = function(id) {
        $scope.plan(id).success(function(obj) {
            $scope.active_project = obj;
        });
    };

    $scope.activate_task = function(task) {
        $scope.active_task = task;
        console.log('active task changed');
        console.log(task);
    };

    $scope.plans().success(function(obj) {
        $scope.projects = obj.plans;
        $scope.activate_project($scope.projects[0].id);
    });

    /*
    $scope.projects = [
        {id:1, title:'planner project', status:'incomplete', created_at:'2015-09-24T12:59:01+1000',
            tasks:[
            {id:1, title:'achievements', type:'idea', status:'unknown', 'text': 'Lorem ipsum dolor itet'},
            {id:2, title:'edit in place', type:'task', status:'unknown'},
            {id:3, title:'associated people', type:'documentation', status:'unknown'},
            {id:4, title:'link associated', type:'specification', status:'unknown'},
            {id:5, title:'share', type:'', status:'unknown'},
        ]},
        {id:2, title:'scheduler', status:'', created_at:'', tasks:[]},
        {id:3, title:'map generator', status:'', created_at:'', tasks:[]},
        {id:4, title:'tower defense', status:'', created_at:'', tasks:[]},
    ];
    */

    //$scope.activate_project(1);
});

</script>
{% endblock %}
