        /* breadcrumbs */
        ul.breadcrumbs {
            list-style-type:none;
            margin:0;padding:0;
        }

        ul.breadcrumbs > li { float:left; margin-right:0px; }

        ul.breadcrumbs > li > a {
            padding: 10px 10px 10px 30px;
            display:block;
            float:left;
            margin-left:-25px; 
        }

        ul.breadcrumbs > li:first-Child > a { margin-left:0 !important; padding-left:10px !important; }

        ul.breadcrumbs > li.active { 
            display:block; margin: 5px 0 10px -20px; padding:5px 10px 5px 20px; 
            color: #606060; background:#e0e0e0;
            box-shadow:0px 0px 5px #000;
        }

        ul.breadcrumbs > li:nth-child(1) > a { background: #909090; color:#f0f0f0; }
        ul.breadcrumbs > li:nth-child(1) > div { border-left-color: #909090; }

        ul.breadcrumbs > li:nth-child(2) > a { background: #808080; color:#f0f0f0; }
        ul.breadcrumbs > li:nth-child(2) > div { border-left-color: #808080; }

        ul.breadcrumbs > li:nth-child(3) > a { background: #707070; color: #f0f0f0;  }
        ul.breadcrumbs > li:nth-child(3) > div { border-left-color: #707070; }

        ul.breadcrumbs > li:nth-child(4) > a { background: #606060; color: #f0f0f0;}
        ul.breadcrumbs > li:nth-child(4) > div { border-left-color: #606060; }

        ul.breadcrumbs .arrow { 
            position:relative; right:0px;
            width:0;height:0;border-width:20px;
            border-color:transparent transparent transparent #21272d;
            border-style:solid; float:right; margin-right:-15px; 
        }

        /* modal */
        .modal-content { border-radius:0px; background-color:#32383e; }
        .modal-header { border-bottom-color: #303030; }
        .modal-footer { border-top-color: #303030; }

        /*
        .btn.btn-default { background-color: #FF7700; border-color: #A84F00; color: #fff; text-shadow:1px 1px 1px #000; }
        .btn.btn-default:hover { background-color: #A84F00; }
        */

        /* nav */
        .navbar { background: #fff; border-top: 2px solid #337ab7; box-shadow: 1px 1px 6px #c0c0c0; }
        .navbar a {
            font-family: 'Open Sans', Helvetica, sans-serif;
            font-size: 14px;
        }
        .navbar .navbar-brand { color: #414141; }
        .navbar a.navbar-brand span { 
            font-family: 'Open Sans', Helvetica;
            font-weight:600;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        /* front page */

        .content-area { margin-top: 60px; }
        .sidebar-area { margin-top: 60px; }

        html {
            font-family: 'Open Sans', Helvetica;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        body { background: #efefef; color:#333; }
        p {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #333;
            font-size: 16px;
            line-height: 1.7;
            font-weight: 400;
        }

        .title { color: #4d4d4d; font-weight:600; }
        .title a { color: #4d4d4d; text-decoration:none; }
        .title a:hover { color: orange; }

        small { font-family: 'Open Sans', Helvetica; font-size: 13px; font-weight:400; }

        /* #32383e hover */

        .subinfo { margin-bottom:10px; }

        article small { display:block; }
        article small.pubinfo { font-style:italic; margin-bottom:15px; }
