django>=2.2.13
django-appconf==1.0.1
django-compressor==1.5
django-registration-redux==1.2
django-taggit==0.17.1
djangorestframework==3.2.4
gunicorn>=19.5.0
Markdown==2.6.2
psycopg2==2.6.1
six==1.10.0
