{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load core_tags %}
{% block full_content %}
<div ng-controller="planController">
<div class="row" style="margin-top:20px;">
    <div class="col-md-9 project content-area">
        <h1 class="title">plans</h1>

        <ul>
            {% for plan in plans %}
            <li><a href="{% url 'planner:plan' plan=plan.slug %}">{{ plan.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3 sidebar-area">
    </div>
</div>

<div class="modal" id="editTask" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    arial-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">{{ active_task.title }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="taskTitle">Task title</label>
                    <input type="text" class="form-control" id="taskTitle"
                        placeholder="Task title" value="{{ active_task.title }}">
                </div>
                <div class="form-group">
                    <label for="taskStatus">Task status</label>
                    <div class="btn-group">
                        <button class="btn btn-default">blaa</button>
                        <button class="btn btn-active">blaa</button>
                        <button class="btn btn-primary">blaa</button>
                        <button class="btn">blaa</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="taskType">Task type</label>
                    <input type="text" class="form-control" id="taskType"
                        placeholder="Task title" value="{{ active_task.type }}">
                </div>
                <div class="form-group">
                    <label for="taskBody">Task text</label>
                    <textarea class="form-control" id="taskBody"
                        placeholder="Task description here"
                        value="{{ active_task.body }}"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock full_content %}
