{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load core_tags %}
{% load i18n %}
{% block head %}
<style type="text/css">
    ol .active::before { content: "<span class='glyphicon glyphicon-chevron-right'></span>"; };
</style>
{% endblock %}
{% block full_content %}
{% comment %}<div ng-controller="planController">{% endcomment %}
<div>
<div class="row" style="margin-top:20px;">
    <div class="col-md-9 project content-area">
        <h1 class="title">{{ plan.title }}</h1>
        {% if plan.description %}<p>{{ plan.description }}</p>{% endif %}

        <ol class="list-unstyled">
            {% for task in plan.tasks.all %}
            <li class="task-item active">
                <div class="task-number">{{ forloop.index }}</div>

                <div class="task-title">
                    <a href="{% url 'planner:task' plan=plan.slug task=task.slug %}"><strong>{{ task.title }}</strong></a>
                </div>

                <small class="info">{{ task.subtype.name }} | {% trans "Status:" %} {{ task.status.name }}</small>
                <p>{{ task.text }}</p></li>
            {% endfor %}
        </ol>

        Add a new:
        <div class="btn-group">
            {% get_task_types as task_types %}
            {% for task in task_types %}
            <a href="{% url 'planner:task_create' plan=plan.slug type=task.slug %}" class="btn btn-default">{{ task.name }}</a>
            {% endfor %}
        </div>

    </div>
    <div class="col-md-3 sidebar-area">
        <ul class="list-group">
            {% for p in plans %}
            <li class="list-group-item{% if p.id == plan.id %} active{% endif %}"><a href="">{{ p.title }}</a></li>
            {% endfor %}
        </ul>

        <pre><code><b>Shortcuts</b>
\       back one page
n t     new task
n i     new idea
e       edit
d       delete
t       toggle folding
k       down
j       up
h       left
l       right</code></pre>

        <pre><b>Log</b>
<code id="kbdlog"></code></pre>
    
    </div>
</div>

<div class="modal" id="editTask" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    arial-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">{{ active_task.title }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="taskTitle">Task title</label>
                    <input type="text" class="form-control" id="taskTitle"
                        placeholder="Task title" value="{{ active_task.title }}">
                </div>
                <div class="form-group">
                    <label for="taskStatus">Task status</label>
                    <div class="btn-group">
                        <button class="btn btn-default">blaa</button>
                        <button class="btn btn-active">blaa</button>
                        <button class="btn btn-primary">blaa</button>
                        <button class="btn">blaa</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="taskType">Task type</label>
                    <input type="text" class="form-control" id="taskType"
                        placeholder="Task title" value="{{ active_task.type }}">
                </div>
                <div class="form-group">
                    <label for="taskBody">Task text</label>
                    <textarea class="form-control" id="taskBody"
                        placeholder="Task description here"
                        value="{{ active_task.body }}"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock full_content %}
{% block script %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/mousetrap.min.js' %}"></script>
<script type="text/javascript">
var info = function(what) { $('#kbdlog').append(what + '\n'); }
Mousetrap.bind('\\', function(e) { info('go back to plan list'); });
Mousetrap.bind('n t', function(e) { info('* new task'); });
Mousetrap.bind('n i', function(e) { info('* new idea'); });
Mousetrap.bind('e', function(e) { info('edit'); });
Mousetrap.bind('d', function(e) { info('delete'); });
Mousetrap.bind('t', function(e) { info('fold/unfold'); });
Mousetrap.bind('h', function(e) { info('down'); });
Mousetrap.bind('j', function(e) { info('left'); });
Mousetrap.bind('k', function(e) { info('right'); });
Mousetrap.bind('l', function(e) { info('up'); });
</script>
{% endblock %}
