{% load staticfiles %}
{% load core_tags %}
{% load i18n %}
<!DOCTYPE html>
<html ng-app="SiteApp" ng-controller="siteController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,500,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" media="all"></link>

    <style type="text/css">
        #main-content { margin-top: 60px; }

        body { background: #32383e; color:#c0c0c0; font-family: Roboto; }

        .navbar { background: #21272d; border:none; }

        .navbar a {
            font-family: Roboto, sans-serif;
            font-size: 14px;
        }

        .navbar a.navbar-brand span { color: #f0f0f0; }

        h1,h2,h3,h4,h5,h6 { color: #e0e0e0; text-shadow: 2px 2px 5px #202020; }
        small { color: #909090; }

        /* #32383e hover */

        .subinfo { margin-bottom:10px; }

    </style>

    {% block head %}{% endblock head %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project <span>NAME</span></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'frontpage' %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url 'planner:index' %}">{% trans "Planner" %}</a></li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true"
                        aria-expanded="false">{% trans "Blog" %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'blog:index' %}">{% trans "Blog index" %}</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">{% trans "Featured posts" %}</li>

                            {% get_featured_blog_posts as featured %}
                            {% for fp in featured %}
                            <li><a href="{% url 'blog:post' slug=fp.slug %}">{{ fp.title|truncatechars:25 }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="#about">{% trans "About" %}</a></li>
                    <li><a href="#contact">{% trans "Contact" %}</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" id="main-content">
        <div class="row">
            <div class="col-md-12">
                {% get_breadcrumbs as breadcrumbs %}
                <ul class="breadcrumbs">
                    {% for crumb in breadcrumbs %}{% if not forloop.last %}
                    <li class="{{ crumb.class }}"><a href="{{ crumb.url }}">{{ crumb.title }}</a><div class="arrow"></div></li>
                    {% else %}
                    <li class="active">{{ crumb.title }}</li>
                    {% endif %}{% endfor %}
                </ul>
            </div>
        </div>

        {% block full_content %}
        <div class="row">
            <div class="col-md-8 main-content">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="" ng-if="user.username">{% verbatim %}
                    Hello {{ user.username }}!
                {% endverbatim %}</div>

                {% block sidebar %}{% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.main-content table').addClass('table');
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% block script %}{% endblock %}
</body>
